DATABASE_URL="postgres://..."
DIRECT_URL="postgres://..."

NEXTAUTH_SECRET="replace-with-strong-secret"
NEXTAUTH_URL="http://localhost:3000"

EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="465"
EMAIL_USER="haresh.fortius@gmail.com"
EMAIL_PASS="iquiepeicnevtjtm"

